__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.DS_Store
htmlcov/
Thumbs.db
*.egg-info/
.eggs/
*.log
.tox/
.coverage
env/
develop-eggs/
build/
.mypy_cache/
.ruff_cache/
.env
.cache/
.Python
.pytest_cache/
Desktop.ini
